[Unit]
Description=XBoard Agent Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/xboard
EnvironmentFile=-/etc/default/xboard-agent
ExecStart=/opt/xboard/agent --config /opt/xboard/agent_config.yml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
